{% extends "base_main.html" %}
{% load i18n %}
{% block title %}{% trans 'ZoneSmart account'%}{% endblock %}
{% block content %}
    <h2>{% trans 'ZoneSmart credentials'%}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="content">
            <div class="cred_input">{% trans 'ZoneSmart Email'%}:{{form.email}}</div>
            <div class="cred_input">{% trans 'ZoneSmart Password'%}:{{form.password}}</div>
            <button type="submit">{% trans 'Sign in ZoneSmart'%}</button>
        </div>
    </form>
{% if auth_state == False%}
    <div id="myModal" class="modal" style="display: block">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>{% trans 'Enter valid email and password'%}</p>
        </div>
    </div>
{% endif %}
    <script>
    var modal = document.getElementById("myModal");
    var span = document.getElementsByClassName("close")[0];
    span.onclick = function() {
      modal.style.display = "none";
    }
    </script>
{% endblock %}